@model Inveon.Services.EmailAPI.Models.EmailContent

<div>
    <table cellpadding="0" cellspacing="0" border="0" width="100%"
           style="border-collapse:collapse;min-width:100%;direction:ltr;" role="presentation" bgcolor="#ffffff">
        <tbody>
            <tr>
                <th valign="top" style="border-top-width:3px;border-top-color:#ffffff;border-top-style:solid;">
                    <center style="width:100%;">
                        <table border="0" width="570" cellpadding="0" cellspacing="0" align="center"
                               style="width:570px;min-width:570px;max-width:570px;direction:ltr;margin:auto;" role="presentation">
                            <tbody>
                                <tr>
                                    <th valign="top">
                                        <table id="yiv7692249500m_-8880156094837771122section-header" border="0" width="100%"
                                               cellpadding="0" cellspacing="0" align="center" style="min-width:100%;direction:ltr;"
                                               role="presentation" bgcolor="#ffffff">
                                            <tbody>
                                                <tr>
                                                    <td style="padding:0 15px;" bgcolor="#ffffff">
                                                        <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center"
                                                               style="min-width:100%;direction:ltr;" role="presentation">
                                                            <tbody>
                                                                <tr>
                                                                    <th style="padding-top:0px;padding-bottom:0px;margin:0 auto;" align="center"
                                                                        bgcolor="#ffffff">
                                                                        <img src="@Model.LogoImageUrl" width="100%" border="0"
                                                                             style="width:100%;display:block;max-width:150px;text-align:center;padding-top:0;padding-bottom:0;margin:auto;">
                                                                    </th>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </center>
                </th>
            </tr>
        </tbody>
    </table>

    <table cellpadding="0" cellspacing="0" border="0" width="100%"
           style="border-collapse:collapse;min-width:100%;direction:ltr" role="presentation" bgcolor="#ffffff">
        <tbody>
            <tr>
                <th valign="top" style="border-color:#ffffff;border-style:none solid solid;border-width:15px">
                    <center style="width:100%">
                        <table border="0" width="570" cellpadding="0" cellspacing="0" align="center"
                               style="width:570px;min-width:570px;max-width:570px;direction:ltr;margin:auto" role="presentation">
                            <tbody>
                                <tr>
                                    <th valign="top">
                                        <table id="m_-8880156094837771122section-main" border="0" width="100%" cellpadding="0"
                                               cellspacing="0" align="center" style="min-width:100%;direction:ltr;text-align:left"
                                               role="presentation" bgcolor="#ffffff">
                                            <tbody>
                                                <tr>
                                                    <td align="left" bgcolor="#ffffff">
                                                        <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center"
                                                               style="min-width:100%;direction:ltr" id="m_-8880156094837771122mixContainer"
                                                               role="presentation">

                                                            <tbody>
                                                                <tr id="m_-8880156094837771122section-9921014">
                                                                    <th style="padding:30px 0 15px" align="left" bgcolor="#ffffff">
                                                                        <img src="@Model.ThanksImageUrl" width="570" height="auto" border="0"
                                                                             style="width:100%;height:auto!important;display:block;max-width:570px;margin:auto"
                                                                             class="CToWUd a6T" data-bit="iit" tabindex="0">
                                                                        <div class="a6S" dir="ltr" style="opacity: 0.01; left: 536.4px; top: 572.8px;">
                                                                            <div id=":10i" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0"
                                                                                 aria-label=" adlı eki indir"
                                                                                 jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTc4MDUzODI0ODI1NDE4ODQ3NyJd"
                                                                                 data-tooltip-class="a1V" jsaction="JIbuQc:.CLIENT" data-tooltip="İndir">
                                                                                <div class="akn">
                                                                                    <div class="aSK J-J5-Ji aYr"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </th>
                                                                </tr>

                                                                <tr id="m_-8880156094837771122section-9821421">
                                                                    <th style="padding:15px 60px" align="left" bgcolor="#ffffff">

                                                                        <p style="direction:ltr;font-family:'Verdana',-apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;font-size:15px;line-height:30px;font-weight:400;text-transform:none;color:#000000;margin:0 0 15px"
                                                                           align="left">
                                                                            <span style="text-align:left;direction:ltr;font-family:'Verdana',-apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;font-size:15px;line-height:30px;font-weight:400;text-transform:none;color:#000000">
                                                                                Merhaba
                                                                            </span>
                                                                            @Model.FirstName @(Model.LastName),
                                                                        </p>

                                                                        <span style="text-align:left;direction:ltr;font-family:'Verdana',-apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;font-size:15px;line-height:30px;font-weight:400;text-transform:none;color:#000000">
                                                                            <p style="direction:ltr;font-family:'Verdana',-apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;font-size:15px;line-height:30px;font-weight:400;text-transform:none;color:#000000;margin:15px 0 0"
                                                                               align="left"></p>
                                                                            <p style="direction:ltr;font-family:'Verdana',-apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;font-size:15px;line-height:30px;font-weight:400;text-transform:none;color:#000000;margin:15px 0 0"
                                                                               align="left">
                                                                                Siparişin onaylandı. Yeni yolculuğunun bir parçası olacak
                                                                                siparişini hazırlamaya başlıyoruz!
                                                                            </p>
                                                                            <p style="direction:ltr;font-family:'Verdana',-apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;font-size:15px;line-height:30px;font-weight:400;text-transform:none;color:#000000;margin:15px 0 0"
                                                                               align="left">
                                                                                Siparişini 1-3 iş günü içerisinde kargoya vereceğiz. Siparişinin
                                                                                e-faturasını sana ayrıca e-posta olarak ileteceğiz.
                                                                            </p>
                                                                            <p style="direction:ltr;font-family:'Verdana',-apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;font-size:15px;line-height:30px;font-weight:400;text-transform:none;color:#000000;margin:15px 0 0"
                                                                               align="left">
                                                                                Siparişin kargoya verildikten sonra sana iletilecek takip koduyla
                                                                                ya da websitemizden kargonun durumunu takip edebilirsin.
                                                                            </p>
                                                                        </span>
                                                                    </th>
                                                                </tr>

                                                                <tr id="m_-8880156094837771122section-9821425">
                                                                    <th style="padding:15px 60px" align="left" bgcolor="#ffffff">

                                                                        <h2 style="font-family:'Verdana',-apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;color:#000000;font-size:24px;line-height:42px;font-weight:700;text-transform:none;letter-spacing:1.5px;margin:0"
                                                                            align="left">
                                                                            <span>Sipariş Numarası</span> #@(Model.OrderId)
                                                                        </h2>
                                                                        <p style="direction:ltr;font-family:'Verdana',-apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;font-size:13px;line-height:30px;font-weight:normal;text-transform:none;color:#999999;margin:0"
                                                                           align="left">@Model.OrderTime.ToShortDateString()</p>

                                                                    </th>
                                                                </tr>

                                                                <tr id="m_-8880156094837771122section-9821424">
                                                                    <th style="padding:30px 60px" align="left" bgcolor="#ffffff">
                                                                        <table cellspacing="0" cellpadding="0" border="0" width="100%" role="presentation"
                                                                               style="direction:ltr">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <th style="border-top-width:1px;border-top-color:#e4e4e4;border-top-style:solid"
                                                                                        align="left" bgcolor="#ffffff" valign="top">
                                                                                    </th>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </th>
                                                                </tr>

                                                                <tr id="m_-8880156094837771122section-9821426">
                                                                    <th style="padding:15px" align="left" bgcolor="#ffffff">
                                                                        <table cellspacing="0" cellpadding="0" border="0" width="100%"
                                                                               style="min-width:100%;direction:ltr" role="presentation">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <th align="left" bgcolor="#ffffff" valign="top">
                                                                                        <table cellspacing="0" cellpadding="0" border="0" width="100%"
                                                                                               style="min-width:100%;direction:ltr" role="presentation">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <th colspan="2" style="padding-top:30px;padding-left:45px"
                                                                                                        align="left" bgcolor="#ffffff" valign="top">
                                                                                                        <h3 style="font-family:'Verdana',-apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;color:#000000;font-size:22px;line-height:42px;font-weight:700;text-transform:none;border-bottom-width:1px;border-bottom-color:#ffffff;border-bottom-style:none;letter-spacing:1.5px;margin:0"
                                                                                                            align="left">
                                                                                                            SİPARİŞ DETAYI
                                                                                                        </h3>
                                                                                                    </th>
                                                                                                </tr>
                                                                                                @foreach (var product in Model.ProductDetails)
                                                                                                {
                                                                                                    <tr>
                                                                                                        <th width="1"
                                                                                                            style="border-bottom-width:1px;border-bottom-color:#ffffff;border-bottom-style:none;padding:30px 15px 30px 45px"
                                                                                                            align="left" bgcolor="#ffffff" valign="middle">
                                                                                                            <img width="72"
                                                                                                                 src="@product.ImageUrl"
                                                                                                                 alt="@product.Name"
                                                                                                                 style="vertical-align:middle;text-align:center;width:72px;max-width:72px;height:auto!important;border-radius:5px;padding:0px"
                                                                                                                 class="CToWUd" data-bit="iit">
                                                                                                        </th>
                                                                                                        <th style="border-bottom-width:1px;border-bottom-color:#ffffff;border-bottom-style:none;padding:30px 45px 30px 15px"
                                                                                                            align="left" bgcolor="#ffffff" valign="middle">
                                                                                                            <table cellspacing="0" cellpadding="0" border="0" width="100%"
                                                                                                                   style="min-width:100%;direction:ltr" role="presentation">
                                                                                                                <tbody>
                                                                                                                    <tr>
                                                                                                                        <th style="direction:ltr;font-family:'Verdana',-apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;font-size:15px;line-height:30px;font-weight:400;text-transform:none;color:#000000;padding:15px 7px 15px 0"
                                                                                                                            align="left" bgcolor="#ffffff" valign="top">
                                                                                                                            <p style="direction:ltr;font-family:'Verdana',-apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;font-size:15px;line-height:30px;font-weight:normal;text-transform:none;color:#212121;margin:0"
                                                                                                                               align="left">
                                                                                                                                <a style="color:#000000!important;text-decoration:none!important;word-wrap:break-word;text-align:left!important;font-weight:normal;border-bottom-width:2px;border-bottom-color:#111111;border-style:none"
                                                                                                                                   target="_blank">
                                                                                                                                    @product.Name
                                                                                                                                </a>
                                                                                                                                <br>
                                                                                                                                <span style="text-align:left;direction:ltr;font-family:'Verdana',-apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;font-size:13px;line-height:30px;font-weight:normal;text-transform:none;color:#999999">@product.Size</span>
                                                                                                                            </p>
                                                                                                                        </th>
                                                                                                                        <th width="1"
                                                                                                                            style="white-space:nowrap;padding:15px 7px 15px 30px"
                                                                                                                            align="left" bgcolor="#ffffff" valign="top">
                                                                                                                            <p style="direction:ltr;font-family:'Verdana',-apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;font-size:15px;line-height:30px;font-weight:400;text-transform:none;color:#000000;margin:0"
                                                                                                                               align="right">x&nbsp;@(product.Count)</p>
                                                                                                                        </th>
                                                                                                                        <th width="1"
                                                                                                                            style="white-space:nowrap;padding:15px 0 15px 30px"
                                                                                                                            align="left" bgcolor="#ffffff" valign="top">
                                                                                                                            <p style="direction:ltr;font-family:'Verdana',-apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;font-size:15px;line-height:30px;font-weight:400;text-transform:none;color:#000000;margin:0"
                                                                                                                               align="right">
                                                                                                                                @(string.Format("{0:#.00}", product.Price * product.Count))TL
                                                                                                                            </p>
                                                                                                                        </th>
                                                                                                                    </tr>
                                                                                                                </tbody>
                                                                                                            </table>
                                                                                                        </th>
                                                                                                    </tr>
                                                                                                }


                                                                                            </tbody>
                                                                                        </table>
                                                                                    </th>
                                                                                </tr>

                                                                                <tr>
                                                                                    <th style="padding:0px 0 15px" align="left" bgcolor="#ffffff" valign="top">
                                                                                        <table cellspacing="0" cellpadding="0" border="0" width="100%"
                                                                                               style="min-width:100%;direction:ltr" role="presentation">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <th style="direction:ltr;font-family:'Verdana',-apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;font-size:15px;line-height:30px;font-weight:400;text-transform:none;color:#000000;width:65%;padding:0px 0 15px 45px"
                                                                                                        align="left" bgcolor="#ffffff" valign="top">Ara Toplam</th>
                                                                                                    <th style="direction:ltr;font-family:'Verdana',-apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;font-size:15px;line-height:30px;font-weight:400;text-transform:none;color:#000000;width:35%;padding:0px 45px 15px 0"
                                                                                                        align="right" bgcolor="#ffffff" valign="middle">@(string.Format("{0:#.00}", Model.OrderTotal + Model.DiscountTotal))TL</th>
                                                                                                </tr>

                                                                                                <tr>
                                                                                                    <th style="direction:ltr;font-family:'Verdana',-apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;font-size:15px;line-height:30px;font-weight:400;text-transform:none;color:#000000;width:65%;padding:0px 0 15px 45px"
                                                                                                        align="left" bgcolor="#ffffff" valign="top">
                                                                                                        <span>İndirim</span> <span style="word-break:break-all">(@(Model.CouponCode))</span>
                                                                                                    </th>
                                                                                                    <th style="direction:ltr;font-family:'Verdana',-apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;font-size:15px;line-height:30px;font-weight:400;text-transform:none;color:#000000;width:35%;padding:0px 45px 15px 0"
                                                                                                        align="right" bgcolor="#ffffff" valign="middle">-@(string.Format("{0:#.00}", Model.DiscountTotal))TL</th>
                                                                                                </tr>

                                                                                                <tr>
                                                                                                    <th style="direction:ltr;font-family:'Verdana',-apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;font-size:22px;line-height:30px;font-weight:700;text-transform:none;color:#000000;width:65%;letter-spacing:1.5px;padding:0px 0 15px 45px"
                                                                                                        align="left" bgcolor="#ffffff" valign="top">Toplam</th>
                                                                                                    <th style="direction:ltr;font-family:'Verdana',-apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;font-size:22px;line-height:30px;font-weight:700;text-transform:none;color:#000000;width:35%;letter-spacing:1.5px;padding:0px 45px 15px 0"
                                                                                                        align="right" bgcolor="#ffffff" valign="middle">@(string.Format("{0:#.00}", Model.OrderTotal))TL</th>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </th>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </th>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </center>
                </th>
            </tr>
        </tbody>
    </table>
</div>